/sato
/data
/data_test
abc.xlsx
pie.py
test_all.py
sampledatafoodsales.xlsx
neural_net_copy.py
neural_net_copy_new.py
neural_net_copy_saad.py
main_talha.py
main_old.py
main.py
datasets_copy.py
data_loader_copy.py
data_loader.py
clean_main.py
data_annotation.py
/toignore
.idea
/logs
_pycache_
/Changes
/venv